# Datasets and Preprocessing

In [1]:
import pandas as pd

In [2]:
df1 = pd.read_csv("Electric_Vehicle_Charging_Stations_in_New_York.csv")
columns_to_keep = ['Fuel Type Code', 'Station Name', 'Street Adress', 'City', 'State', 'ZIP',  'EV Network', 'Date Last Confirmed', 'ID', 'Open Date', 'EV Connector Types']
df1 = df1.drop(columns=[col for col in df1.columns if col not in columns_to_keep])
cities_to_filter = ['New York', 'Brooklyn', 'Staten Island', 'Bronx', 'Queens']
df1 = df1[df1['City'].isin(cities_to_filter)]

df1

,Fuel Type Code,Station Name,City,State,ZIP,EV Network,Date Last Confirmed,ID,Open Date,EV Connector Types
14,ELEC,Queens Center - Tesla Supercharger,Queens,NY,11373,Tesla,10/03/2022,116809,12/01/2018,TESLA
17,ELEC,626 Sheepshead Bay Rd - Parking,Brooklyn,NY,11224,Blink Network,06/17/2023,197548,10/08/2021,J1772
32,ELEC,STATION 4TH FL MOTORGATE 3,New York,NY,10044,ChargePoint Network,06/18/2023,168524,11/17/2020,J1772
33,ELEC,Angelina's Ristorante - Tesla Destination,Staten Island,NY,10307,Tesla Destination,10/06/2022,115240,01/11/2016,TESLA
52,ELEC,LIN-DAN RICK,New York,NY,10010,ChargePoint Network,06/18/2023,205858,02/04/2022,J1772
...,...,...,...,...,...,...,...,...,...,...
3427,ELEC,iPark NYC 333 E 38th NYU - Tesla Destination,New York,NY,10016,Tesla Destination,10/06/2022,115101,12/14/2015,J1772 TESLA
3428,ELEC,Icon Parking 225 W 83 Street - Tesla Destination,New York,NY,10024,Tesla Destination,10/06/2022,115058,04/30/2016,J1772 TESLA
3431,ELEC,182 E 73rd St,New York,NY,10021,LIVINGSTON,02/13/2023,252709,12/06/2022,J1772
3435,ELEC,200 Liberty,New York,NY,10006,AMPUP,10/11/2022,229902,09/15/2022,J1772
3441,ELEC,610 Warren Street - Tesla Destination,Brooklyn,NY,11217,Tesla Destination,10/06/2022,168558,06/16/2017,TESLA

In [3]:
df2 = pd.read_csv("Air_Quality.csv")
emission_type = ['Nitrogen Dioxide (NO2)', 'Fine Particulate Matter (PM2.5)']
annual_average = ['Annual Average 2009', 'Annual Average 2010', 'Annual Average 2011', 'Annual Average 2012', 'Annual Average 2013', 'Annual Average 2014', 'Annual Average 2015', 'Annual Average 2016', 'Annual Average 2017', 'Annual Average 2018', 'Annual Average 2019', 'Annual Average 2020']

df2 = df2[df2['Name'].isin(emission_type) & df2['Time Period'].isin(annual_average)]

df2

,Unique ID,Indicator ID,Name,Measure,Measure Info,Geo Type Name,Geo Join ID,Geo Place Name,Time Period,Start_Date,Data Value,Message
2413,167509,375,Nitrogen Dioxide (NO2),Mean,ppb,CD,101,Financial District (CD1),Annual Average 2009,12/01/2008,36.62,NaN
2414,167510,375,Nitrogen Dioxide (NO2),Mean,ppb,CD,102,Greenwich Village and Soho (CD2),Annual Average 2009,12/01/2008,34.83,NaN
2415,167511,375,Nitrogen Dioxide (NO2),Mean,ppb,CD,103,Lower East Side and Chinatown (CD3),Annual Average 2009,12/01/2008,31.80,NaN
2416,167512,375,Nitrogen Dioxide (NO2),Mean,ppb,CD,104,Clinton and Chelsea (CD4),Annual Average 2009,12/01/2008,36.27,NaN
2417,167513,375,Nitrogen Dioxide (NO2),Mean,ppb,CD,105,Midtown (CD5),Annual Average 2009,12/01/2008,46.75,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...
15968,669970,365,Fine Particulate Matter (PM2.5),Mean,mcg per cubic meter,CD,413,Queens Village (CD13),Annual Average 2020,01/01/2020,5.78,NaN
15971,669973,365,Fine Particulate Matter (PM2.5),Mean,mcg per cubic meter,CD,414,Rockaway and Broad Channel (CD14),Annual Average 2020,01/01/2020,5.33,NaN
15974,669976,365,Fine Particulate Matter (PM2.5),Mean,mcg per cubic meter,CD,501,St. George and Stapleton (CD1),Annual Average 2020,01/01/2020,5.84,NaN
15977,669979,365,Fine Particulate Matter (PM2.5),Mean,mcg per cubic meter,CD,502,South Beach and Willowbrook (CD2),Annual Average 2020,01/01/2020,5.58,NaN
15980,669982,365,Fine Particulate Matter (PM2.5),Mean,mcg per cubic meter,CD,503,Tottenville and Great Kills (CD3),Annual Average 2020,01/01/2020,5.32,NaN

In [4]:
# For the area to county mapping, we used chatgpt to sort each city into each corresponding county so we didn't have to do this manually.
# 
area_county_mapping = {
    'Financial District (CD1)': 'Manhattan',
    'Greenwich Village and Soho (CD2)': 'Manhattan',
    'Lower East Side and Chinatown (CD3)': 'Manhattan',
    'Clinton and Chelsea (CD4)': 'Manhattan',
    'Midtown (CD5)': 'Manhattan',
    'Stuyvesant Town and Turtle Bay (CD6)': 'Manhattan',
    'Upper West Side (CD7)': 'Manhattan',
    'Upper East Side (CD8)': 'Manhattan',
    'Morningside Heights and Hamilton Heights (CD9)': 'Manhattan',
    'Central Harlem (CD10)': 'Manhattan',
    'East Harlem (CD11)': 'Manhattan',
    'Washington Heights and Inwood (CD12)': 'Manhattan',
    'Mott Haven and Melrose (CD1)': 'Bronx',
    'Hunts Point and Longwood (CD2)': 'Bronx',
    'Morrisania and Crotona (CD3)': 'Bronx',
    'Highbridge and Concourse (CD4)': 'Bronx',
    'Fordham and University Heights (CD5)': 'Bronx',
    'Belmont and East Tremont (CD6)': 'Bronx',
    'Kingsbridge Heights and Bedford (CD7)': 'Bronx',
    'Riverdale and Fieldston (CD8)': 'Bronx',
    'Parkchester and Soundview (CD9)': 'Bronx',
    'Throgs Neck and Co-op City (CD10)': 'Bronx',
    'Morris Park and Bronxdale (CD11)': 'Bronx',
    'Williamsbridge and Baychester (CD12)': 'Bronx',
    'Greenpoint and Williamsburg (CD1)': 'Brooklyn',
    'Fort Greene and Brooklyn Heights (CD2)': 'Brooklyn',
    'Bedford Stuyvesant (CD3)': 'Brooklyn',
    'Bushwick (CD4)': 'Brooklyn',
    'East New York and Starrett City (CD5)': 'Brooklyn',
    'Park Slope and Carroll Gardens (CD6)': 'Brooklyn',
    'Sunset Park (CD7)': 'Brooklyn',
    'Crown Heights and Prospect Heights (CD8)': 'Brooklyn',
    'South Crown Heights and Lefferts Gardens (CD9)': 'Brooklyn',
    'Bay Ridge and Dyker Heights (CD10)': 'Brooklyn',
    'Bensonhurst (CD11)': 'Brooklyn',
    'Borough Park (CD12)': 'Brooklyn',
    'Coney Island (CD13)': 'Brooklyn',
    'Flatbush and Midwood (CD14)': 'Brooklyn',
    'Sheepshead Bay (CD15)': 'Brooklyn',
    'Brownsville (CD16)': 'Brooklyn',
    'East Flatbush (CD17)': 'Brooklyn',
    'Flatlands and Canarsie (CD18)': 'Brooklyn',
    'Long Island City and Astoria (CD1)': 'Queens',
    'Woodside and Sunnyside (CD2)': 'Queens',
    'Jackson Heights (CD3)': 'Queens',
    'Elmhurst and Corona (CD4)': 'Queens',
    'Ridgewood and Maspeth (CD5)': 'Queens',
    'Rego Park and Forest Hills (CD6)': 'Queens',
    'Flushing and Whitestone (CD7)': 'Queens',
    'Hillcrest and Fresh Meadows (CD8)': 'Queens',
    'Kew Gardens and Woodhaven (CD9)': 'Queens',
    'South Ozone Park and Howard Beach (CD10)': 'Queens',
    'Bayside and Little Neck (CD11)': 'Queens',
    'Jamaica and Hollis (CD12)': 'Queens',
    'Queens Village (CD13)': 'Queens',
    'Rockaway and Broad Channel (CD14)': 'Queens',
    'St. George and Stapleton (CD1)': 'Staten Island',
    'South Beach and Willowbrook (CD2)': 'Staten Island',
    'Tottenville and Great Kills (CD3)': 'Staten Island',
    'Kingsbridge - Riverdale': 'Bronx',
    'Northeast Bronx': 'Bronx',
    'Fordham - Bronx Pk': 'Bronx',
    'Pelham - Throgs Neck': 'Bronx',
    'Greenpoint': 'Brooklyn',
    'Downtown - Heights - Slope': 'Brooklyn',
    'Bedford Stuyvesant - Crown Heights': 'Brooklyn',
    'East New York': 'Brooklyn',
    'Sunset Park': 'Brooklyn',
    'Borough Park': 'Brooklyn',
    'East Flatbush - Flatbush': 'Brooklyn',
    'Canarsie - Flatlands': 'Brooklyn',
    'Bensonhurst - Bay Ridge': 'Brooklyn',
    'Coney Island - Sheepshead Bay': 'Brooklyn',
    'Williamsburg - Bushwick': 'Brooklyn',
    'Washington Heights': 'Manhattan',
    'Central Harlem - Morningside Heights': 'Manhattan',
    'East Harlem': 'Manhattan',
    'Upper West Side': 'Manhattan',
    'Long Island City - Astoria': 'Queens',
    'West Queens': 'Queens',
    'Flushing - Clearview': 'Queens',
    'Ridgewood - Forest Hills': 'Queens',
    'Southwest Queens': 'Queens',
    'Jamaica': 'Queens',
    'Southeast Queens': 'Queens',
    'Rockaways': 'Queens',
    'Upper East Side-Gramercy': 'Manhattan',
    'Chelsea-Village': 'Manhattan',
    'Union Square-Lower Manhattan': 'Manhattan',
    'Bayside Little Neck-Fresh Meadows': 'Queens',
    'Northern SI': 'Staten Island',
    'Southern SI': 'Staten Island',
    'South Bronx': 'Bronx',
    'Crotona -Tremont': 'Bronx',
    'High Bridge - Morrisania': 'Bronx',
    'Hunts Point - Mott Haven': 'Bronx',
    'Upper East Side': 'Manhattan',
    'Chelsea - Clinton': 'Manhattan',
    'Gramercy Park - Murray Hill': 'Manhattan',
    'Greenwich Village - SoHo': 'Manhattan',
    'Union Square - Lower East Side': 'Manhattan',
    'Lower Manhattan': 'Manhattan',
    'Bayside - Little Neck': 'Queens',
    'Fresh Meadows': 'Queens',
    'Port Richmond': 'Staten Island',
    'Stapleton - St. George': 'Staten Island',
    'Willowbrook': 'Staten Island',
    'South Beach - Tottenville': 'Staten Island',
    'New York City': 'Manhattan',
    'Bronx': 'Bronx',
    'Brooklyn': 'Brooklyn',
    'Manhattan': 'Manhattan',
    'Queens': 'Queens',
    'Staten Island': 'Staten Island'
}


def get_county(area):
    for key, value in area_county_mapping.items():
        if key in area:
            return value
    return 'Unknown'  # If the area is not found in the mapping

df2_copy = df2.copy()
df2_copy['Geo Place Name'] = df2_copy['Geo Place Name'].apply(get_county)

# Extract the year from the string column
df2_copy['Time Period'] = df2_copy['Time Period'].str.extract(r'(\d{4})').astype(int)

df2_copy

,Unique ID,Indicator ID,Name,Measure,Measure Info,Geo Type Name,Geo Join ID,Geo Place Name,Time Period,Start_Date,Data Value,Message
2413,167509,375,Nitrogen Dioxide (NO2),Mean,ppb,CD,101,Manhattan,2009,12/01/2008,36.62,NaN
2414,167510,375,Nitrogen Dioxide (NO2),Mean,ppb,CD,102,Manhattan,2009,12/01/2008,34.83,NaN
2415,167511,375,Nitrogen Dioxide (NO2),Mean,ppb,CD,103,Manhattan,2009,12/01/2008,31.80,NaN
2416,167512,375,Nitrogen Dioxide (NO2),Mean,ppb,CD,104,Manhattan,2009,12/01/2008,36.27,NaN
2417,167513,375,Nitrogen Dioxide (NO2),Mean,ppb,CD,105,Manhattan,2009,12/01/2008,46.75,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...
15968,669970,365,Fine Particulate Matter (PM2.5),Mean,mcg per cubic meter,CD,413,Queens,2020,01/01/2020,5.78,NaN
15971,669973,365,Fine Particulate Matter (PM2.5),Mean,mcg per cubic meter,CD,414,Queens,2020,01/01/2020,5.33,NaN
15974,669976,365,Fine Particulate Matter (PM2.5),Mean,mcg per cubic meter,CD,501,Staten Island,2020,01/01/2020,5.84,NaN
15977,669979,365,Fine Particulate Matter (PM2.5),Mean,mcg per cubic meter,CD,502,Staten Island,2020,01/01/2020,5.58,NaN
15980,669982,365,Fine Particulate Matter (PM2.5),Mean,mcg per cubic meter,CD,503,Staten Island,2020,01/01/2020,5.32,NaN

In [5]:
df3 = pd.read_csv("Vehicle_and_Boat_Registrations_by_Fuel_Type_per_County.csv")
df3.drop(df3[df3['Record Type'] == 'BOAT'].index, inplace = True)
df3.drop(df3[df3['Record Type'] == 'TRL'].index, inplace = True)
nyc_counties = ['NEW YORK', 'KINGS', 'BRONX', 'RICHMOND', 'QUEENS']
df3 = df3[df3['County'].isin(nyc_counties)]

fuel_other = ['COMP N/G', 'FLEX', 'OTHER', 'NONE', 'PROPANE']
fuel_dieselgas = ['DIESEL', 'GAS']
df3['Fuel Type'] = df3['Fuel Type'].replace(fuel_other, 'OTHER')
df3['Fuel Type'] = df3['Fuel Type'].replace(fuel_dieselgas, 'GAS/DIESEL')

df3

    Record Type   Fuel Type    County  Registration Class
37          VEH       OTHER     BRONX                 733
38          VEH  GAS/DIESEL     BRONX               10501
39          VEH    ELECTRIC     BRONX                1939
40          VEH       OTHER     BRONX                 234
41          VEH  GAS/DIESEL     BRONX              277579
42          VEH       OTHER     BRONX                 110
43          VEH       OTHER     BRONX                  43
44          VEH       OTHER     BRONX                   3
345         VEH       OTHER     KINGS                  57
346         VEH  GAS/DIESEL     KINGS               17695
347         VEH    ELECTRIC     KINGS                9072
348         VEH       OTHER     KINGS                 478
349         VEH  GAS/DIESEL     KINGS              524051
350         VEH       OTHER     KINGS                 456
351         VEH       OTHER     KINGS                 304
352         VEH       OTHER     KINGS                  23
449         VEH       OTHER  NEW YORK                 241
450         VEH  GAS/DIESEL  NEW YORK                5935
451         VEH    ELECTRIC  NEW YORK                5453
452         VEH       OTHER  NEW YORK                 284
453         VEH  GAS/DIESEL  NEW YORK              241411
454         VEH       OTHER  NEW YORK                 668
455         VEH       OTHER  NEW YORK                  54
456         VEH       OTHER  NEW YORK                   3
616         VEH       OTHER    QUEENS                 281
617         VEH  GAS/DIESEL    QUEENS               30570
618         VEH    ELECTRIC    QUEENS                8347
619         VEH       OTHER    QUEENS                 938
620         VEH  GAS/DIESEL    QUEENS              812791
621         VEH       OTHER    QUEENS                1426
622         VEH       OTHER    QUEENS                 101
623         VEH       OTHER    QUEENS                  12
648         VEH       OTHER  RICHMOND                   5
649         VEH  GAS/DIESEL  RICHMOND                5121
650         VEH    ELECTRIC  RICHMOND                2255
651         VEH       OTHER  RICHMOND                 182
652         VEH  GAS/DIESEL  RICHMOND              277591
653         VEH       OTHER  RICHMOND                  71
654         VEH       OTHER  RICHMOND                  37

In [6]:
df4 = pd.read_csv("Electric_Vehicle_Registrations.csv")
nyc_counties = ['NEW YORK', 'KINGS', 'BRONX', 'RICHMOND', 'QUEENS']
df4 = df4[df4['County'].isin(nyc_counties)]

df4

,Record Type,VIN,Registration Class,City,State,Zip,County,Model Year,Make,Body Type,Fuel Type,Unladen Weight,Maximum Gross Weight,Passengers,Reg Valid Date,Reg Expiration Date,Color,Scofflaw Indicator,Suspension Indicator,Revocation Indicator
1,VEH,9106843,SRF,GLENDALE,NY,11385,QUEENS,1974,EVA,4DSD,ELECTRIC,2180.0,NaN,NaN,09/21/2021,10/03/2023,BR,N,N,N
3,VEH,9A204759,SPC,BROOKLYN,NY,11211,KINGS,2014,CROWN,P/SH,ELECTRIC,3335.0,NaN,NaN,12/15/2022,12/31/2023,WH,N,N,N
5,VEH,9A112938,SPC,MASPETH,NY,11378,QUEENS,2000,CROWN,SWT,ELECTRIC,8640.0,NaN,NaN,12/08/2022,12/31/2023,WH,N,N,N
8,VEH,8FBE18U22845,SPC,NEW YORK,NY,10002,NEW YORK,2022,TOYOT,P/SH,ELECTRIC,5370.0,NaN,NaN,12/28/2022,12/31/2023,BK,N,N,N
9,VEH,7TYFZACD6NF000024,MOT,BRONX,NY,10468,BRONX,2022,FL/EB,MCY,ELECTRIC,320.0,NaN,NaN,05/04/2023,04/30/2024,RD,N,N,N
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
95453,VEH,A976B09580U,SPC,BROOKLYN,NY,11232,KINGS,2020,YALE,P/SH,ELECTRIC,11950.0,NaN,NaN,11/09/2022,12/31/2023,YW,N,N,N
95454,VEH,A976B08198T,SPC,BROOKLYN,NY,11232,KINGS,2019,YALE,SWT,ELECTRIC,6790.0,NaN,NaN,11/09/2022,12/31/2023,YW,N,N,N
95455,VEH,A976B07325S,SPC,BROOKLYN,NY,11232,KINGS,2018,YALE,P/SH,ELECTRIC,5000.0,NaN,NaN,11/09/2022,12/31/2023,YW,N,N,N
95456,VEH,A969N02801M,PSD,CORONA,NY,11368,QUEENS,2014,YALE,P/SH,ELECTRIC,5654.0,NaN,NaN,07/18/2014,NaN,YW,N,N,N
95457,VEH,A83T50116,PSD,CORONA,NY,11368,QUEENS,2010,TCM,P/SH,ELECTRIC,7650.0,NaN,NaN,08/06/2014,NaN,YW,N,N,N

In [8]:
dftest2 = pd.read_csv("ny_ev_registrations.csv")

dftest2['Registration Valid Date'] = pd.to_datetime(dftest2['Registration Valid Date'])

dftest2

,ZIP Code,Registration Valid Date,DMV ID,Registration,VIN Prefix,Vehicle ID
0,13104,2020-10-01,62,Original,YV4BR0DL7M,18096911
1,13104,2020-10-01,48,Original,YV4BR0DL7M,18096911
2,13104,2020-10-01,46,Original,YV4BR0DL7M,18096911
3,13104,2020-10-01,55,Original,YV4BR0DL7M,18096911
4,13104,2020-10-01,53,Original,YV4BR0DL7M,18096911
...,...,...,...,...,...,...
2810086,11375,2020-01-01,47,Renewal,5YJSA1E25L,13183473
2810087,11375,2020-01-01,57,Renewal,5YJSA1E25L,13183473
2810088,11375,2020-01-01,44,Renewal,5YJSA1E25L,13183473
2810089,11375,2020-01-01,50,Renewal,5YJSA1E25L,13183473
2810090,10023,2020-04-01,41,Original,WP0AC2Y19L,17817602

In [9]:
df5 = pd.read_excel('epa_pm25.xlsx') 
agg = df5.groupby('SCC LEVEL 1')['Emissions (Tons)'].sum()
aggregated_data_modified = agg.to_frame()
categories_to_sum = {
    'Highway Vehicles': ['Highway Vehicles - Compressed Natural Gas (CNG)',
                         'Highway Vehicles - Diesel',
                         'Highway Vehicles - Electricity',
                         'Highway Vehicles - Ethanol (E-85)',
                         'Highway Vehicles - Gasoline'],
    'Off-highway Vehicles': ['Off-highway Vehicle CNG',
                             'Off-highway Vehicle Diesel',
                             'Off-highway Vehicle Gasoline',
                             'Off-highway Vehicle LPG'],
    'Other': ['Agriculture Production - Crops',
             'Agriculture Production - Livestock',
             'Open Burning',
             'Pleasure Craft',
             'Mining and Quarrying: SIC 10 and SIC 14',
             'Railroad Equipment',
             'Other Combustion',
             'Marine Vessels, Commercial']}
for category, columns in categories_to_sum.items():
    category_sum = aggregated_data_modified.loc[columns].sum()
    aggregated_data_modified = aggregated_data_modified.drop(columns)
    aggregated_data_modified.loc[category] = category_sum
aggregated_data_modified

                                   Emissions (Tons)
SCC LEVEL 1
Commercial/Institutional                 812.237033
Construction: SIC 15 - 17               1598.399946
Food and Kindred Products: SIC 20       9252.338585
Industrial                               814.439496
Paved Roads                              623.599970
Residential                              366.371873
Highway Vehicles                         489.538536
Off-highway Vehicles                     686.060053
Other                                    306.842469